<form class="col s12">
              <div class="row">
                <h5>Select Amount:</h5>
                <hr class="style">
                <div class="center">
                  <a class="waves-effect waves-light btn amountBtn">$50</a>
                  <a class="waves-effect waves-light btn amountBtn">$100</a>
                  <a class="waves-effect waves-light btn amountBtn">$250</a>
                </div>
                  
                <div class="center">
                  <a class="waves-effect waves-light btn amountBtn">$500</a>
                  <a class="waves-effect waves-light btn amountBtn">$750</a>
                  <a class="waves-effect waves-light btn amountBtn">$1000</a>
                </div>
              </div>

              <div class="row">
                <div class="center">
                   <input class="with-gap" name="paymentRate" type="radio" id="monthlyPay"/>
                  <label for="monthlyPay">Monthly</label>
                  <input class="with-gap" name="paymentRate" type="radio" id="oneTimePay"/>
                  <label for="oneTimePay">One-Time</label>
                </div>
              </div>
              <div class="row">
                <div class="col s6 push-s3 input-field">
                  <input id="amountOther" type="number" class="validate" step="5.00">
                  <label for="amountOther">$ Other</label>
                </div>
              </div>

              <div class="row">
                <h5>Your Information:</h5>
                <hr class="style">
                <div class="input-field col s4 push-s2">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s4 push-s2">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>


              <div class="row">
                <div class="input-field col s8 push-s2">
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div> 
                
              <div class="row">
                <div class="input-field col s8 push-s2">
                  <input id="addressStreet" type="text" class="validate">
                  <label for="addressStreet">Address</label>
                </div>
              </div>
                
                <div class="row">
                  <div class="input-field col s3 push-s2">
                    <input id="addressCity" type="text" class="validate">
                    <label for="addressCity">City</label>
                  </div>
                  <div class="input-field col s2 push-s2">
                    <select>
                      <option value="" disabled selected>State</option>
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AR">AR</option>  
                      <option value="AZ">AZ</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DC">DC</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="IA">IA</option>  
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="MA">MA</option>
                      <option value="MD">MD</option>
                      <option value="ME">ME</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MO">MO</option>  
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="NC">NC</option>  
                      <option value="NE">NE</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>      
                      <option value="NV">NV</option>
                      <option value="NY">NY</option>
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WI">WI</option>  
                      <option value="WV">WV</option>
                      <option value="WY">WY</option>
                    </select>   
                    
                  </div>
                  <div class="input-field col s3 push-s2">
                    <input id="addressZip" type="text" class="validate">
                    <label for="addressZip">Zip/Postal Code</label>
                  </div>
                </div>

                <div class="row">
                  <h5>Payment Information:</h5>
                  <hr class="style">
                  <div class="input-field col s6 push-s2">
                    <input id="cardNumber" type="text" class="validate">
                    <label for="cardNumber">Credit Card Number</label>
                  </div>
                  <div class="input-field col s2 push-s2">
                    <input id="cvvNumber" type="text" class="validate">
                    <label for="cvvNumber">CVV Number</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s5 push-s2">
                      <select>
                        <option value="" disabled selected>Expiration Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                  </div>
                  <div class="input-field col s3 push-s2">
                    <select>
                        <option value="" disabled selected>Year</option>
                        <option value="1">2018</option>
                        <option value="2">2019</option>
                        <option value="3">2020</option>
                        <option value="4">2021</option>
                        <option value="5">2022</option>
                        <option value="6">2023</option>
                        <option value="7">2024</option>
                        <option value="8">2025</option>
                        <option value="9">2026</option>
                        <option value="10">2027</option>
                        <option value="11">2028</option>
                        <option value="12">2029</option>
                      </select>
                  </div>
                </div>

            </form>