 <!-- Login Modal Structure -->
      <div  id="modalLogin" class="modal">
        <div class="modal-content">
          <h4>Log In</h4>
          <hr class="style">
          <form>
            <div class="row">
              <div class="input-field col s6 push-s3">
                <input id="loginEmail" type="email" class="validate">
                <label for="loginEmail">Email</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 push-s3">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6 push-s6 valign-wrapper">
                <a href="/edit" class="modal-action modal-close waves-effect waves-light btn loginButt">Log In</a>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <div class="center">
                  <hr class="style">
                  <p>Not a Member? <a class="modal-trigger modal-close center link" href="/add">Sign Up</a></p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Sign Out Modal Structure -->
      <div id="modalSignout" class="modal">
        <div class="modal-content">
          <h5>You've been signed out.</h5>
          <hr class="style">
        </div>
      </div>