<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Hellping Hands </h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        <br>
          <a href="/contact" class="waves-effect waves-light btn white black-text black-text darken-4">Contact</a>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Site Map</h5>
        <ul>
          <li><a class="white-text" href="/add">Host Victims</a></li>
          <li><a class="white-text" href="/listings">Listings</a></li>
          <li><a class="white-text modal-trigger" href="#modalLogin">Member Login</a></li>
          <li><a class="white-text" href="#!">Donate</a></li>
        </ul>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="https://www.fema.gov/" target="_blank">Federal Emergency Management Agency</a></li>
          <li><a class="white-text" href="http://www.redcross.org/" target="_blank">American Red Cross</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>