
<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h5 class="white-text"> Helping Hands <span>Copyright &copy 2018.</span></h5>
        <p class="grey-text text-lighten-4">
          This website was created for Rutgers Bootcamp project.
          <ul>
            <li>
            <a class="waves-effect waves-light btn-floating btn-large social twitter"><i class="fa fa-twitter"></i></a>

            <a class="waves-effect waves-light btn-floating btn-large social facebook"><i class="fa fa-facebook"></i> </a>

            <a class="waves-effect waves-light btn-floating btn-large social instagram"><i class="fa fa-instagram"></i></a>

            <a class="waves-effect waves-light btn-floating btn-large social linkedin"><i id="linkedin" class="fa fa-linkedin"></i></a>
            </li>      
          </ul>
      </p>
        <br>
          <a href="/contact" class="waves-effect waves-light btn white black-text black-text darken-4">Contact</a>
      </div>


    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>

</footer>