<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4 class="white-text center">Helping Hands</h4>
        <p class="grey-text text-lighten-4 center">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        <br><br>
        <div class="row center">
          <a class="waves-effect waves-light btn-large white black-text black-text darken-4">Contact</a>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>