<!-- NAVBAR FOR ALL PAGES -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">

      <a id="logo-container" href="/" class="brand-logo valign-wrapper"><img src="/static/assets/images/home-solid/64x64.png" class="logoImg">Helping Hands</a>

      <div>
        <a href="#modalDonate"></a>
      </div>


       {{> forms/donateForm }}
       {{> forms/login_signForm }}

     

      <ul class="right hide-on-med-and-down">
        <li><a href="/add">Host Victims</a></li>
        <li><a href="/listings">Listings</a></li>
        {{#if auth}}
        <li><a href="#modalSignout" class="modal-trigger logOut">Sign Out</a></li>
        {{else}}
        <li><a href="#modalLogin" class="modal-trigger">Member Login</a></li>
        {{/if}}
        
      </ul>
      

      <ul id="nav-mobile" class="side-nav">
        <li>Navbar Link</li>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Host Victims</a></li>
        <li><a href="/listings">Listings</a></li>
        {{#if auth}}
        <li><a href="/" class="logOut">Sign Out</a></li>
        {{else}}
        <li><a href="#modalLogin" class="modal-trigger">Member Login</a></li>
        {{/if}}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>