
  <div class="container">
    <div class="section">

       <!--   filter Section   -->
      <div class="row">
        <div class="col s12">
          <div class="filterForm">
            <form>
            <div class="row">
              <h5>Filter Results</h5>
              <hr class="style">
              <div class="input-field col s6">
                <input id="filterAddress" type="text" class="validate">
                <label for="filterAddress">Your Address</label>
              </div>



              <div class="input-field col s3">
                <input id="checkIn" type="text" class="datepicker">
                <label for="checkIn">Check In</label>
              </div>

              <div class="input-field col s3">
                <input id="checkOut" type="text" class="datepicker">
                <label for="checkOut">Check Out</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <input id="guestNum" type="number" name="quantity" min="1" max="20">
                <label for="guestNum">Number of Guests</label>
              </div>
              <div class="col s3 checkbox">
                <input type="checkbox" id="hasPets">
                <label for="hasPets">Pets?</label>
              </div>
              <div class="input-field col s3 right">
                 <a href="#" class="waves-effect waves-light btn filterButton">Filter</a>
              </div>
            </div>
          </form> 
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h4>Become a Host</h4>
          <hr class="style">
            <div class="input-field col s4 push-s2">
              <input id="hostFirst_name" type="text" class="validate">
              <label for="hostFirst_name">First Name</label>
            </div>
            <div class="input-field col s4 push-s2">
              <input id="hostLast_name" type="text" class="validate">
              <label for="hostLast_name">Last Name</label>
            </div>

            <div class="row">
              <div class="input-field col s8 push-s2">
                <input id="hostEmail" type="email" class="validate">
                <label for="hostEmail">Email</label>
              </div>
            </div> 

            <div class="row">
              <div class="input-field col s8 push-s2">
                <input id="hostPhone" type="tel" class="validate">
                <label for="hostPhone">Phone Number</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8 push-s2">
                <input id="hostAddressStreet" type="text" class="validate">
                <label for="hostAddressStreet">Address</label>
              </div>
            </div>
              
            <div class="row">
              <div class="input-field col s3 push-s2">
                <input id="hostAddressCity" type="text" class="validate">
                <label for="hostAddressCity">City</label>
              </div>
              <div class="input-field col s2 push-s2 hostState">
                <select>
                  <option value="" disabled selected>State</option>
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AR">AR</option>  
                  <option value="AZ">AZ</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DC">DC</option>
                  <option value="DE">DE</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="IA">IA</option>  
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="MA">MA</option>
                  <option value="MD">MD</option>
                  <option value="ME">ME</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MO">MO</option>  
                  <option value="MS">MS</option>
                  <option value="MT">MT</option>
                  <option value="NC">NC</option>  
                  <option value="NE">NE</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>      
                  <option value="NV">NV</option>
                  <option value="NY">NY</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WI">WI</option>  
                  <option value="WV">WV</option>
                  <option value="WY">WY</option>
                </select>   
                
              </div>

              <div class="input-field col s3 push-s2">
                <input id="hostAddressZip" type="text" class="validate">
                <label for="hostAddressZip">Zip/Postal Code</label>
              </div>
            </div>
            <div class="row">
                <div class="col s5 push-s2">
                  <div id="guest-slider"></div>
                  <label for="guest-slider"> Number of guests you want to host</label>
                </div>
                <div class="col s3 push-s2 valign-wrapper checkbox">
                <input type="checkbox" id="hostPets">
                <label for="hostPets">Allow Pets?</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCH-6r9WrlUwy1swTIHIYFrm4IcXcjZDEk&callback=initMap">
    </script>
<script>

  $(document).ready(function(){
   
     var slider = document.getElementById('guest-slider');
    noUiSlider.create(slider, {
     start: [4, 15],
     connect: true,
     step: 1,
     orientation: 'horizontal', // 'horizontal' or 'vertical'
     range: {
       'min': 0,
       'max': 20
     },
     format: wNumb({
       decimals: 0
     })
    });
    function initMap(){
      var input = documet.getElementById("filterAddress");
      var autocomplete = new google.maps.places.Autocomplete(input);
}

  });





</script>
        
  <script src="/static/assets/js/nouislider.js"></script>
   

