<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/static/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
    <div class="section">

       <!--   contact section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">add_location</i>
            <h5 class="center">Address</h5>
            <p class="light center">561 Montgomery St, Jersey City, NJ, 07302.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">settings_phone</i>
            <h5 class="center">Phone and Fax Information</h5>
            <p class="light center">
              <ul>
                <li class="light center">Main Switchboard: (201) 200-1851</li>
                <li class="light center"> Donation: (202)555-0131.</li>
                <li class="light center"> Fax: (201) 246-1734.</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">email</i>
            <h5 class="center">Email Address:</h5>
            <p class="light center">
              <ul>
                <li class="light center">General Inquires: info@helpinghands.org</li>
                <li class="light center"> Donor Relations: donate@helpinghands.org</li>
                <li class="light center"> Web Site Issues: website@helpinghands.org</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>