
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Parallax Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="/listings" class="btn-large waves-effect waves-light teal lighten-1">View Listings</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">map</i></h2>
            <h5 class="center">Put Yourself on  the Map</h5>

            <p class="light"> Want to help? Sign up to become hosts to provide emergency shelter to people affected by hurricanes, forest fires, flooding, and other disasters</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">home</i></h2>
            <h5 class="center">Search for Homes</h5>

            <p class="light">Need to find a place to stay? Explore homes verified to meet your immediate needs around the United States</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Be in Touch</h5>

            <p class="light">Want to know more? Sign up to be updated on latest news, resources and stories from the Helping Hands network. </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Donate</h5>

            <p class="light">Want to help but can't be a host? Donate to help victims find safe, welcoming places to stay while they rebuild their lives after devastating natural disaters.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About us</h4>
          <p class="left-align light">
          We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
