  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Welcome to Helping Hands</h1>
        <div class="row center">
          <h5 class="header col s12 light"> </h5>
        </div>
        <div class="row center">
          <a href="/listings" class="btn-large waves-effect waves-light teal lighten-1">View Listings</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">map</i></h2>
            <h5 class="center">Put Yourself on  the Map</h5>

            <p class="light"> Want to help? Sign up to become hosts to provide emergency shelter to people affected by hurricanes, forest fires, flooding, and other disasters</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">home</i></h2>
            <h5 class="center">Search for Homes</h5>

            <p class="light">Need to find a place to stay? Explore homes verified to meet your immediate needs around the United States</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Be in Touch</h5>

            <p class="light">Want to know more? Sign up to be updated on latest news, resources and stories from the Helping Hands network. </p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Donate</h5>

            <p class="light">Want to help but can't be a host? Donate to help victims find safe, welcoming places to stay while they rebuild their lives after devastating natural disaters.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/assets/images/background6.jpeg"> 
        <div class="caption center-align">
          <h3 class="black-text"></h3>
          <h5 class="light black-text text-lighten-3"></h5>
        </div>
      </li>
      <li>
        <img src="/static/assets/images/background5.jpeg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Be Involved!</h3>
          <br>
          <h5 class="flow-text light white-text">Within a matter of minutes, natural disasters such as earthquakes, tsunamis, and hurricanes can overwhelm an entire population. Thousands of people can be injured or traumatized by the loss of family, friends, and homes.</h5>
        </div>
      </li>
      <li>
        <img src="/static/assets/images/background4.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Become a Donor</h3>
          <br>
          <h5 class="flow-text light white-text">Help change the lives of millions who are in need by contributing your time or financial gifts.</h5>
        </div>
      </li>
      <li>
        <img src="/static/assets/images/background7.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Join Us!</h3>
          <br>
          <h5 class="flow-text light white-text">Contact us for any questions or want to be part of this organization!</h5>
          <br><br>
          <a href="/contact" class="waves-effect waves-light btn white black-text black-text darken-4">Contact</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>About us</h4>
          <p class="center light">
            We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light black-text">"A kind gesture can reach a wound that only compassion can heal." - Steve Maraboli</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
