<form>
    <h3>login</h3>
    <input type="text">
    <a href="/email/signup" class="butt">Submit</a>
</form>

<script>
    $('.butt').on('click', function(e) {
        e.preventDefault();
        console.log('fired')
        $.post('/email', {
            text: $('input').val()
        })
    })
</script>