

  <div class="container">
    <div class="section">

       <!--   thank you section   -->
      <div class="row">
        <div class="col s12 center">
          <h3> Thank you for your donation! </h3>
          <h5 class="left-align light center flow-text">
            On behalf of all of us at the The Helping Hands, I would like to thank you for your generous donation.  
            <br><br>
            Here at The Helping Hands, we hope to help people in need by finding them a safe space regardless of who they are. Your generous donation will help people find safe, welcoming places to stay while they rebuild their lives after devastating natural disaters. 
            <br><br>
            You will recieve an email confirmation of your payment. If you have any questions, please call at (202)555-0131.
            <br><br>
            Once again, thank you for for your compassion and support.
          </h5>
          
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>

  <div class="container">
    <div class="section">

       <!--   thank you section   -->
      <div class="row">
        <div class="col s12 center">
          <h3> Thank you for your donation! </h3>
          <p class="left-align light center flow-text">
            On behalf of all of us at the The Helping Hands, I would like to thank you for your generous donation.  
            <br><br>
            Here at The Helping Hands, we hope to help people in need by finding them a safe space regardless of who they are. Your generous donation will help people find safe, welcoming places to stay while they rebuild their lives after devastating natural disaters. 
            <br><br>
            You will recieve an email confirmation of your payment. If you have any questions, please call at (202)555-0131.
            <br><br>
            Once again, thank you for for your compassion and support.
          </p>
          
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/assets/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>